<html>
	<head>
		<title>Food Blog</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<script src="https://kit.fontawesome.com/f836bc73c5.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<a href="/" class="tab">HOME</a>
			<a href="/blogs/new" class="tab">NEW POST</a>	
			<a href="/contact" class="tab">CONTACT US</a>
		</div>
		