<html>
	<head>
		<title>Food Blog</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<a href="/" class="logo">christine's<span>eateria</span></a>
			<a href="/" class="tab">Home</a>
			<a href="/blogs/new" class="tab">New Post</a>	
		</div>
		