<%- include("partials/header") %>

<div class="ui main container segment" id="contactDiv">
	<div class="ui huge header">
		<h1>Contact Me</h1>
		<p>
			Send me an email by filling out the form below.
		</p>
	</div>
	<form class="ui form" action="/send" method="POST">
		<input type="text" name="contact[email]" placeholder="Your e-mail address">
		<div class="field">
			<textarea name="contact[message]" placeholder="Message"></textarea>
		</div>
		<input class="ui big basic button" type="submit">
	</form>
</div>


<%- include("partials/footer") %>