<%- include("partials/header") %>

<div class="animate__animated animate__slideInUp ui main container segment" id="newRecipeDiv">
	<div class="ui huge header">
		NEW RECIPE
	</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<input type="text" name="blog[title]" placeholder="Recipe name">
			<input type="text" name="blog[image]" placeholder="Image url">
			<div class="ui left icon input">
			  <input type="text" name="blog[yields]" placeholder="Number of servings">
			  <i class="pie chart basic icon"></i>
			</div>
			<div class="ui left icon input">
			  <input type="text" name="blog[cook]" placeholder="Cook time">
			  <i class="time basic icon"></i>
			</div>
			<textarea name="blog[body]" placeholder="Desciption"></textarea>
			<textarea name="blog[ingredients]" placeholder="Ingredients"></textarea>
			<textarea name="blog[directions]" placeholder="Directions"></textarea>
		</div>
		<input class="ui big basic button" type="submit">
	</form>
</div>

<%- include("partials/footer") %>