<%- include("partials/header") %>

<div class="ui main container segment">
	<div class="ui huge header">
		NEW RECIPE
	</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<label>Title</label>
			<input type="text" name="blog[title]" placeholder="title">
			<label>Yields</label>
			<div class="ui left icon input">
			  <input type="text" placeholder="number of servings">
			  <i class="pie chart basic icon"></i>
			</div>
			<label>Cook Time</label>
			<div class="ui left icon input">
			  <input type="text" placeholder="cook time">
			  <i class="time basic icon"></i>
			</div>
			<label>Image</label>
			<input type="text" name="blog[image]" placeholder="image url">
			<label>Description</label>
			<textarea name="blog[body]"></textarea>
			<label>Ingredients</label>
			<textarea name="blog[ingredients]"></textarea>
			<label>Directions</label>
			<textarea name="blog[directions]"></textarea>
		</div>
		<input class="ui green big basic button" type="submit">
	</form>
</div>

<%- include("partials/footer") %>