body{
	background-color: #f4f4f4;
}
p{
	font-size: 20px;
}
h1{
	font-family: 'Cabin', sans-serif;
}
.ui.main.container.segment{
	margin-top: 80px;
}
.description{
	margin-bottom: 20px;
}
.ui.fixed.menu{
	background: white;
}
.inverted.menu a{
	padding: 0 20px;
	color: black;
	line-height: 5rem;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1;
}
.inverted.menu .tab:hover{
	color: rgb(254, 112, 149);
	border-bottom: 4px solid rgb(254, 112, 149);
}

.content{
	padding-top: 8px;
}

.title{
	font-family: 'Cabin', sans-serif;
	color: black;
	font-size: 20px;
	font-weight: 700;
	letter-spacing:1.2;
	text-transform: uppercase;
}
.title:hover{
	color: rgb(254, 112, 149);
}

/* image zoom */
a{
	overflow: hidden;
}
a img{
	overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	transition: .2s ease-in-out;
	height: auto;
    transform: scale(1);
}
a:hover img{
  transform: scale(1.1);
}

.four.wide.column{
	text-align: center;
}

.top-section{
	padding: 250px 0;
	width: 100%;
	background: url(backgroundImage.jpeg);
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.top-section header{
	font-size: 100px;
	line-height: 100px;
	letter-spacing: 2px;
	font-family: 'Lobster', cursive;
	color: white;
	text-shadow: 6px 1px 9px black;
}
.blog-date, .top-section p{
	color: white;
	padding:15px 0;
	font-size: 20px;
	font-style: italic;
	text-shadow: 6px 1px 9px black;
}
.btn-container{
	padding: 20px 0;
}
.ui.button{
	display: inline;
}
.meta{
	display: inline;
	padding-right: 10px;
}
.ui.card{
	width: 100%;
}
.card-header{
	padding-top: 20px; 
}
.card-section{
	padding-bottom: 20px;
}
.ui.main.container.segment{
	/* border: 25px solid #ff7391; */
	border: none;
}
.ui.form input[type=text], .ui.form textarea{
	margin-bottom: 10px;
	line-height: 2;
}
.ui.form input[type=text]:focus, .ui.form textarea:focus{
	color: #ff7391;
}
.ui.huge.header{
	text-align: center;
}
.ui.basic.button, .ui.basic.buttons .button{
	box-shadow: 0 0 0 1px #ff7391 inset;
    color: #ff7391 !important;
}
#ingredients-list, #directions-list, #description{
	white-space: pre-line;
}
#ingredients-list, #directions-list{
	line-height: 40px;
}
#card{
	padding: 50px;
}
#delete{
	display: inline;
}
#contactDiv{
	padding: 3% 6%;
	border-top: 10px solid #ff7391;
}
#newRecipeDiv{
	padding: 2% 5%;
	border-top: 10px solid #ff7391;
}
