p{
	font-size: 20px;
}
#ingredients-list, #directions-list, #description{
	white-space: pre-line;
}
#ingredients-list, #directions-list{
	line-height: 50px;
}
.ui.main.container.segment{
	margin-top: 80px;
}
.description{
	margin-bottom: 20px;
}
.ui.fixed.menu{
	background: white;
}
.inverted.menu a{
	padding: 0 15px;
	color: #ff6eb4;
	line-height: 5rem;
}
.inverted.menu .tab:hover{
	color: #49def5;
}

.inverted.menu .logo{
	color: #ff6eb4;
}
.inverted.menu .logo span{
	color: #49def5;
}

.inverted.menu a.logo{
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 1.5;
	margin-left: 66px;
}
.content{
	/* text-align:center; */
	padding-top: 8px;
}

.title{
	color:black;
	font-size: 20px;
	font-weight: bold;
}

/* image zoom */
a{
	overflow: hidden;
}
a img{
	overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	transition: .2s ease-in-out;
	height: auto;
    transform: scale(1);
}
a:hover img{
  transform: scale(1.1);
}

.four.wide.column{
	text-align: center;
}

.title:hover{
	color: #49def5;
}
.top-section{
	padding: 100px 0;
}
.top-section header{
	font-size: 50px;
	line-height: 50px;
}
.blog-date{
	padding:20px 0;
	font-size: 20px;
}
.btn-container{
	padding: 20px 0;
}
.ui.button{
	display: inline;
}
.meta{
	display: inline;
	padding-right: 10px;
}
.ui.card{
	width: 100%;
}
.card-header{
	padding-top: 20px; 
}
.card-section{
	padding-bottom: 20px;
}
#card{
	padding: 30px;
}
#delete{
	display: inline;
}